<h1><%= @user.username.capitalize %>'s Page!</h1> <br/>
Hello <%= @user.username.capitalize %>

<h3>Here are your tools:</h3>

<ol>
  <% @user.tools.each do |tool|  %>
    <li><%= tool.name %></li>
  <% end %>
</ol>
